<a href="https://colab.research.google.com/github/rajendrayarlagaddausa333/data_engineering/blob/main/Rajendra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
Addition

rajendra = 1150
prasad = -500

full_name = (rajendra+prasad)
print(full_name)

650

In [5]:
# Subtraction

income = 100000
expenses = 7544
remaining = (income-expenses)
print(remaining)

92456

In [6]:
# Multiplication

cost = 500
quantity = 50
total_cost = (cost*quantity)
print(total_cost)

25000

In [17]:
# Division
cost = 1000
quantity = 300
avg_cost = cost / quantity
print(avg_cost)

float

3.3333333333333335

float

In [14]:
# Floor Division
cost = 1000
quantity = 300
avg_cost = cost // quantity
print(avg_cost)

gives round value

3

In [20]:
# Modulus (remainder)

cost = 10
quantity = 3
avg_cost = cost % quantity
print(avg_cost)

1

In [25]:
#Exponentiation

a = 10
b = 5
total = a ** b
print(total)

100000

In [28]:
#Integer Conversions:

asset_value = 5081.01
int_from_float = int(asset_value)
print(int_from_float)

5081

In [30]:
#int from string

rajendra = "1234"
intfromstring = int(rajendra)
print(rajendra)

1234

In [31]:
# Absolute value
raj = 23
abs_number  = abs(raj)
print(abs_number)

23

In [34]:
large_number = 2**1000
print(large_number)

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [35]:
raje = 1000
print(type(raj))

<class 'int'>

In [38]:
###List Elements

my_id = [2,20,35,"NTR",34,24.24]
print(my_id[-1])

24.24

In [42]:
original_string = "Python Programming"
result = [original_string[7:18]]
print(result)

['Programming']

In [44]:
Que="I Love Java Programming"
Sol = b.replace("Java","Python")
print(A)

I Love Python Programming

In [66]:
dirty_string = "   Clean me!   "

print(dirty_string.strip())

Clean me!

In [47]:

result = "rajendra"[::-1]
print(result)

ardnejar

In [50]:
first_name = "rajendra"
last_name = "yarlagadda"
full_name = (first_name+ ' ' +last_name)
print(full_name)

rajendra yarlagadda

In [31]:
first_name = "rajendra"[::-1]
print(first_name)

ardnejar

In [53]:
a = 8
b = 12
sol = (a+b)
print(sol)

name = "rajendra"
my_fav_actor = "NTR"

format_string = "my name is {}, and my favorite actor is {}.".format(name,my_fav_actor)
print(format_string)

20
my name is rajendra, and my favorite actor is NTR.

In [56]:
string = '123.2'
float_into_int = int(float(string))
print(float_into_int)

123

In [37]:
#Creating Strings

single_quote = 'hello rajendra'
double_quote = "hello priyanka"
triple_quote = '''hello baji'''
print(single_quote,double_quote,triple_quote)
print(single_quote)
print(double_quote)
print(triple_quote)

hello rajendra hello priyanka hello baji
hello rajendra
hello priyanka
hello baji

In [5]:
#Accessing Characters:

name = "priyanka"
print(name[3])
print(name[0])

y
p

In [10]:
#Slicing:
name = "priyanka"
print(name[3:4])
print(name[3:-1])
print(name[3:2])#no result

y
yank

In [16]:
#String Concatenation:
first = "raj"
last = "yar"
full_concate = (first + " , "+ last)
print(full_concate)

raj , yar

In [19]:
#String Formatting:
name = "kohli"
ODI_hundreds = 50

kohli_ODI_centuries = "virat {} made {} internationals hundreds in ODIs.".format(name,ODI_hundreds)
print(kohli_ODI_centuries)

virat kohli made 50 internationals hundreds in ODIs.

In [29]:
#String Methods:
my_inst = "    my favourite actor NTR   "
print(my_inst.upper())
print(my_inst.lower())
print(my_inst.strip())###removes space
print(my_inst.replace('actor','hero'))
print(my_inst.find('NTR'))##it gives index of NTR

    MY FAVOURITE ACTOR NTR
    my favourite actor ntr
my favourite actor NTR
    my favourite hero NTR
23

In [36]:
#String Operations:

name = 'priyanka'
print(len(name))
print('y' in 'priyanka')
print('K' in 'priyanka')
print('r' in 'priyanka')
print('j' in 'priyanka')

8
True
False
True
False

In [39]:
#Python Numbers
#Creating Integers & Basic Operations:

unt_price = 30
tot_qun = 100

print(unt_price+tot_qun)
print(unt_price-tot_qun)
print(unt_price*tot_qun)
print(unt_price/tot_qun)# Division
print(unt_price//tot_qun)# Floor Division
print(unt_price%tot_qun) #Modulus (remainder)
print(tot_qun%unt_price)#Modulus (remainder)
print(unt_price**tot_qun)#Exponentiation

130
-70
3000
0.3
0
30
10
5153775207320113310364611297656212727021075220010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [45]:
#Integer Conversions:

a="123.2"
str_flt_int=(int(float(a)))# first in converts string to float then float to int
print(str_flt_int)
print(float(a))

123
123.2

In [49]:
#Integer Methods: & checking type

asst_value = 1000
print(type(asst_value))
print(abs(asst_value))

<class 'int'>
1000

In [3]:
#Python Lists
#creating_list
#Accessing Elements:


my_company= [10,20,30,"rajendra",22.50]
print(my_company)
print(my_company[3])
print(my_company[-1])
print(len(my_company))
my_company.pop(2)
my_company[2]='world'
print(my_company)

[10, 20, 30, 'rajendra', 22.5]
rajendra
22.5
5
[10, 20, 'world', 22.5]

In [19]:
#Tuples

my_tuples = (10,20,'raj','priya',20.42)

print(my_tuples[0])
print(my_tuples[-1])
print(my_tuples.count(20.42))
print(my_tuples.index('raj'))

10
20.42
1
2

In [31]:
#Python Dictionary

my_dic = {'virat':'kohli','rohit':'sharma','sachin':'tendulkar'}
print(my_dic)
print(my_dic['virat'])
print(my_dic['rohit'])
print(my_dic['sachin'])

my_dic['virat'] = 'king'
print(my_dic)
my_dic['vireder'] ='sehwag'
print(my_dic)
del my_dic['rohit']
print(my_dic)

print(my_dic.keys())
print(my_dic.values())
print(my_dic.items())

{'virat': 'kohli', 'rohit': 'sharma', 'sachin': 'tendulkar'}
kohli
sharma
tendulkar
{'virat': 'king', 'rohit': 'sharma', 'sachin': 'tendulkar'}
{'virat': 'king', 'rohit': 'sharma', 'sachin': 'tendulkar', 'vireder': 'sehwag'}
{'virat': 'king', 'sachin': 'tendulkar', 'vireder': 'sehwag'}
dict_keys(['virat', 'sachin', 'vireder'])
dict_values(['king', 'tendulkar', 'sehwag'])
dict_items([('virat', 'king'), ('sachin', 'tendulkar'), ('vireder', 'sehwag')])

In [39]:
#python set
raj_set={10,50,35,50,20}
print(raj_set)
raj_set.add(6)
raj_set.remove(10)
print(raj_set)

{10, 35, 50, 20}
{35, 6, 50, 20}

In [51]:
raj_set1 = {10,20,30,40,50}
raj_set2 = {40,50,60,70,80}

raj_union = raj_set1.union(raj_set2)
print(raj_union)
raj_intersection = raj_set1.intersection(raj_set2)
print(raj_intersection)
raj_difference = raj_set1.difference(raj_set2)
print(raj_difference)
raj_symmetric_difference = raj_set1.symmetric_difference(raj_set2)
print(raj_symmetric_difference)

{70, 40, 10, 80, 50, 20, 60, 30}
{40, 50}
{10, 20, 30}
{80, 20, 70, 10, 60, 30}

In [58]:
#set methods

raj_set_new={10,50,35,50,20}

raj_set_new.add(100)
print(raj_set_new)
raj_set_new.remove(10)
print(raj_set_new)
raj_set_new.discard(50)
print(raj_set_new)
raj_set_new.clear()
print(raj_set_new)

{35, 100, 10, 50, 20}
{35, 100, 50, 20}
{35, 100, 20}
set()

In [61]:
salary = 2000
if salary >= 5000:
    print("good salary")
else:
     print("not good salary")

not good salary

In [66]:
salary = 4999
if salary >= 5000:
    print("good salary")
elif salary >= 7001:
    print("very good salay")
elif salary >= 10000:
    print("awsome salary")
else:
     print("not good salary")

not good salary

In [78]:
my_list = [10,20,30,"rajendra",20.40]
print(my_list[2:5])
remove = my_list.remove(20.40)
print(my_list)
del my_list[-1]
print(my_list)
my_list.pop()
print(my_list)

[30, 'rajendra', 20.4]
[10, 20, 30, 'rajendra']
[10, 20, 30]
[10, 20]

In [19]:
#Python List

my_list = [1, 2, 3, "hello", 5.0]

first_element = my_list[0]      # Access the first element (index 0)
last_element = my_list[-1]      # Access the last element
subset = my_list[1:4]           # Create a sublist (index 1 to 3)

print(first_element)
print(last_element)
print(subset)

#Modifying Elements:
my_list[2] = "world"
print(my_list)          # Change the value at index 2
my_list.append(6)
print(my_list)           # Add an element to the end
my_list.insert(2, "inserted")
print(my_list)         # Insert an element at index 2
#remove elements
removed_element = my_list.pop(1)
print(my_list)    # Remove and return the element at index 1
my_list.remove("world")
print(my_list)              # Remove the first occurrence of "world"
del my_list[0]
print(my_list)                       # Remove the element at index 0

length = len(my_list)
print(length)               # Get the length of the list
#sorted_list = sorted(my_list)      # Create a sorted version of the list
#sum_of_elements = sum(my_list)       # Sum of all elements in the list (if numeric)
is_present = 4 in my_list
print(is_present)
sublist = my_list[1:4]
print(sublist)

print(my_list.copy())

1
5.0
[2, 3, 'hello']
[1, 2, 'world', 'hello', 5.0]
[1, 2, 'world', 'hello', 5.0, 6]
[1, 2, 'world', 'inserted', 'hello', 5.0, 6]
[1, 'world', 'inserted', 'hello', 5.0, 6]
[1, 'inserted', 'hello', 5.0, 6]
['inserted', 'hello', 5.0, 6]
4
False
['hello', 5.0, 6]
['inserted', 'hello', 5.0, 6]

In [27]:
#Python Tuples

my_tuple = (1, 2, 3, 'a', 'b')
print(my_tuple[0])  # Output: 1
print(my_tuple[3])  # Output: 'a'

#methods
# Count occurrences of a value
print(my_tuple.count(1))  # Output: 1

# Find the index of a value
print(my_tuple.index('b'))  # Output: 3

1
a
1
4

In [40]:
#Python Dictionary

my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict['name'])
print(my_dict['city'])
my_dict['city'] = 'lowell'
print(my_dict)
my_dict['salary'] = 25000
print(my_dict)
del my_dict['city']
print(my_dict)
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

John
New York
{'name': 'John', 'age': 25, 'city': 'lowell'}
{'name': 'John', 'age': 25, 'city': 'lowell', 'salary': 25000}
{'name': 'John', 'age': 25, 'salary': 25000}
dict_keys(['name', 'age', 'salary'])
dict_values(['John', 25, 25000])
dict_items([('name', 'John'), ('age', 25), ('salary', 25000)])

In [46]:
#Python Set

my_set = {1, 2, 2, 3, 3, 4, 5} #Sets only contain unique elements. If you try to add a duplicate element, it will be ignored.
print(my_set)
my_set.add(6)      # Adds element 6 to the set
my_set.remove(3)   # Removes element 3 from the set
print(my_set)


set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
# Union
union_set = set1.union(set2)  # {1, 2, 3, 4, 5, 6, 7, 8}

# Intersection
intersection_set = set1.intersection(set2)  # {4, 5}

# Difference
difference_set = set1.difference(set2)  # {1, 2, 3}

# Symmetric Difference
symmetric_difference_set = set1.symmetric_difference(set2)  # {1, 2, 3, 6, 7, 8}
print(union_set)
print(intersection_set)
print(difference_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5}
{1, 2, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [55]:
my_set = {1, 2, 2, 3, 3, 4, 5}
my_set.add(10)
print(my_set)
my_set.remove(2)
print(my_set)
my_set.discard(8)
print(my_set)
my_set.clear()
print(my_set)
my_frozenset = frozenset([1,2,3,4,5,6])
(print(my_frozenset))

{1, 2, 3, 4, 5, 10}
{1, 3, 4, 5, 10}
{1, 3, 4, 5, 10}
set()
frozenset({1, 2, 3, 4, 5, 6})

In [56]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [58]:
#Convert Keys, Values, or Items to Lists:
#Convert Keys to a List:

raj_dict = {'rajendra':111,'sateesh':222,'kv':333}

#Convert Keys to a List:
keys_list = list(raj_dict.keys())
#Convert values to a List:
values_list = list(raj_dict.values())
#Convert items(key-values pais) to a List:
items_list = list(raj_dict.items())
print(keys_list)
print(values_list)
print(items_list)

['rajendra', 'sateesh', 'kv']
[111, 222, 333]
[('rajendra', 111), ('sateesh', 222), ('kv', 333)]

In [65]:
#Python Conditional Statements

#If Statement:
score = 88
if score >= 75:
    print("first class")

#If-Else Statement:
score = 90
if score >= 80:
    print("first class")
else:
    print("second class")

score = 60
if score >= 80:
    print("first class")
else:
    print("second class")

#If-Elif-Else Statement:
score = 60
if score >= 80:
    print("first class")
elif score >=60:
    print("second class")
elif score >=35:
    print("third class")
else:
    print("fail")

score = 90
if score >= 80:
    print("first class")
elif score >=60:
    print("second class")
elif score >=35:
    print("third class")
else:
    print("fail")

score = 50
if score >= 80:
    print("first class")
elif score >=60:
    print("second class")
elif score >=35:
    print("third class")
else:
    print("fail")

score = 25
if score >= 80:
    print("first class")
elif score >=60:
    print("second class")
elif score >=35:
    print("third class")
else:
    print("fail")

first class
first class
second class
second class
first class
third class
fail